<!--<?php
print <<<EOT
-->
<div class="main1"></div>
<div class="main2">
<div class="position"><span>{$_LANG['all.location']}:</span> {$_SYS['positionindex']} {$_SYS['positionchannel']}</div>
<div class="login_div">
	<div class="div_out_inner_nobg" style="width:700px;">
		<form action="{$loginaction}" method="POST" onsubmit="return login_checkAllAction();">
		<table>
			<tr><td class="login_a1"></td><td class="login_a2"><span id="input_err"><span class='login_title'>{$_SLANG['login.title']}</span></span></td></tr>
			<tr><td class="login_a1">{$_SLANG['login.username']}:</td><td class="login_a2"><input type="text" style="width:200px;" name="membername" id="membername" tabIndex="100" class="text_css" /> <a href="{$cache_global['signupfilename']}">{$_SLANG['login.notamember']}</a></td></tr>
			<tr><td class="login_a1">{$_SLANG['login.password']}:</td><td class="login_a2"><input type="password" style="width:200px;" name="memberpass" id="memberpass" tabIndex="101" class="text_css" /> <a href="public.php?action=forgetpass">{$_SLANG['login.forget']}</a></td></tr>
<!--
EOT;
if($cache_settings['loginsecuritycode']=='1'){
print <<<EOT
-->
			<tr><td class="login_a1">{$_SLANG['login.securitycode']}:</td><td class="login_a2"><input type="text" style="width:50px;" name="securitycode" id="securitycode" tabIndex="102" class="text_css" /> <a href="javascript:reloadVerify('securitycodeimg')" title="{$_SLANG['login.noclear']}"><img src="code.php?t={$_SYS['time']}" align="absmiddle" border="0" id="securitycodeimg" /></a> <a href="javascript:reloadVerify('securitycodeimg')" title="{$_SLANG['login.noclear']}">{$_SLANG['login.noclear']}</a></td></tr>
<!--
EOT;
}
print <<<EOT
-->
			<tr><td class="login_a1"></td><td class="login_a2"><input type="checkbox" name="memberrem" value="y" class="checkbox_css" tabIndex="105" /> {$_SLANG['login.rememberme']}</td></tr>
			<tr><td class="login_a1"></td><td class="login_a2"><input type="submit" class="button_css" value="  {$_SLANG['login.submit']}  " tabIndex="106" /><input type="hidden" name="ref" value="{$ref}" /></td></tr>
		</table>
		</form>
	</div>
</div>

</div>
<div class="main3"></div>
<script type="text/javascript" src="getfiles.php?t=js&v={$_SYS['VERSION']}&f=util|login"></script>
<script type="text/javascript">
window.onload=login_PageInit;
</script>
<!--
EOT;
?>
-->