<!--<?php
print <<<EOT
-->
<div class="banner" id="banner" >
	{$bannerad}
	<div class="d2" id="banner_id">
		<ul>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</div>
</div>
<script type="text/javascript">banner()</script>

<div class="main1"></div>
<div class="main2 index_main">
	<div class="news_pro_list">
		<ul>
				{$webcore->getHomeProCates()}
	    </ul>
	</div>
</div>
	
	<div class="abt_vtk top_25">
  <div class="new_pro">
	<h1>{$_LANG['main.realize']}</h1>
</div>

<div class="public_box top_20">
	<div class="abt_vtk_box left right_21">
    	<a href="about.asp"><img src="/uploadfile/attachment/201104/2_1302518056_2160.gif">
        <span><p>{$_LANG['main.about']}</p></span></a>
    </div>
    
     <div class="abt_vtk_box right">
    	<a href="contact.asp"><img src="/uploadfile/attachment/201104/2_1302518056_2160.gif">
        <span><p>{$_LANG['main.news']}</p></span></a>
    </div>
    
    <div class="abt_vtk_box right">
    	<a href="contact.asp"><img src="/uploadfile/attachment/201104/2_1302518056_2160.gif">
        <span><p>{$_LANG['contact.contact']}</p></span></a>
    </div>
</div>
</div>
<!--
EOT;
if(!empty($links_logo)){
print<<<EOT
-->
		<div id="link_logo"><ul>{$links_logo}</ul><div class="clear"></div></div>
<!--
EOT;
}
if(!empty($links_text)){
print<<<EOT
-->
		<div id="link_text"><ul>{$links_text}</ul><div class="clear"></div></div>
<!--
EOT;
}
print<<<EOT
-->

</div>
<!--
EOT;
?>
-->