<!--<?php
print <<<EOT
-->
<div class="main1"></div>
<div class="main2">
<div class="position"><span>{$_LANG['all.location']}:</span> {$_SYS['positionindex']} {$_SYS['positionchannel']}</div>

<table class="main_table">
	<tr>
		<td class="lefttd">
			<div class="leftcate">
			<h2>{$_LANG['all.procate']}</h2>
			<ul>{$webcore->getProCates(1)}</ul>
			</div>
			<div class="clear" style='height:20px'></div>
			<div class="leftcate">
				<h2>{$_SLANG['all.contactus']}</h2>
				<ul class="ctico">{$webcore->getContacts()}</ul>
			</div>
		</td>
		<td>
<!--
EOT;
foreach($products as $product){
print <<<EOT
-->
	<div class="proitem"><div class="proimg" name="proimg"><a href="{$product['link']}" target="_blank" title="{$product['name']}"><img src="{$product['picpath']}" border="0" /></a></div><div class="proname"><a href="{$product['link']}" target="_blank" title="{$product['name']}">{$product['name']}</a>
<!--
EOT;
if($cache_global['funshop']=='1'){
print <<<EOT
-->
	<br /><span class='price'>{$cache_settings['cur']}{$product['price1']}</span>
<!--
EOT;
}
print <<<EOT
-->
	</div></div>
<!--
EOT;
}
print <<<EOT
-->
<div class="clear"></div>
<div class="list_pager">{$pager->getPageStr()}</div>

		</td>
	</tr>
</table>
	

</div>
<div class="main3"></div>
<script>
$(document).ready(function(e) {
	try {
		initMouseEvent("proimg");
	}catch(e) {
		alert(e.message);
	}
});
</script>
<!--
EOT;
?>
-->