<!--<?php
print <<<EOT
-->
<div class="member_title"><b>{$_SLANG['member.password']}</b></div>
<form id="pass_form" name="pass_form" onsubmit="return false;">
	<table>
	  <tr>
		  <td class="member_b1">{$_SLANG['member.oldpass']}:</td>
		  <td><input name="oldpass" type="password" class="text_css" id="oldpass" /> <span id="oldpass_tips">{$_SLANG['member.oldpass.tips']}</span></td>
		  <td></td>
	  </tr>
	  <tr>
		  <td class="member_b1">{$_SLANG['member.newpass']}:</td>
		  <td><input name="memberpass" type="password" class="text_css" id="memberpass" /> <span id="memberpass_tips">{$_SLANG['member.newpass.tips']}</span></td>
		  <td></td>
	  </tr>
	  <tr>
		  <td class="member_b1"></td>
		  <td>
				<div style="width:208px;height:10px;overflow:hidden;border:0px solid #e5e5e5;float:left;" id="strength_Str">
					<div id="strength_L" style="width:69px;height:10px;float:left;background-color:#f5f5f5;">
					</div>
					<div id="strength_M" style="width:69px;height:10px;float:left;background-color:#f5f5f5;">
					</div>
					<div id="strength_H" style="width:69px;height:10px;float:left;background-color:#f5f5f5;">
					</div>
				</div>
		</td>
		  <td>&nbsp;</td>
	  </tr>
	  <tr>
		  <td class="member_b1">{$_SLANG['member.repass']}:</td>
		  <td><input name="repass" type="password" class="text_css" id="repass" /> <span id="repass_tips">{$_SLANG['member.repass.tips']}</span></td>
		  <td></td>
	  </tr>

	  <tr>
	    <td class="member_b1">&nbsp;</td>
	    <td><input name="button" type="button" class="button_css"  value=" {$_SLANG['member.pass.submit']} " onclick="checkChangePass()"/> <span id="details_tips"></span></td>
	    <td>&nbsp;</td>
	  </tr>

  </table>
</form>
<script>
window.onload=password_PageInit;
</script>

<!--
EOT;
?>
-->