* {
	margin:0;
	padding:0;
	list-style:none;
}
html{height:100%;}
body {
	background:#fff;
	font:12px Verdana, Tahoma, Arial;
	margin:0px;
	height:100%;
	/* overflow:hidden; */
}

h1{font-size:14px; color:#128CB2;height:40px;}
#smalltab_container{height:27px;clear:both;}
/**for all**/
.row_0{border-bottom:1px dashed #cccccc;padding-bottom:10px;padding-top:10px;}
.rowdiv_0{float:left;}

.table_1{border-collapse:collapse;width:98%;}
.td_0{font-weight:bold;color:#333333;height:24px;}
.td_1{width:300px;border-bottom:1px dashed #cccccc;padding-bottom:10px;}
.td_2{color:#666666;border-bottom:1px dashed #cccccc;line-height:150%;padding-bottom:10px;}
.td_3{height:40px;}
.td_4{border-bottom:1px dashed #cccccc;padding-bottom:10px;padding-top:10px;}
/**for credits**/
.td_4_1{width:50px;float:left;text-align:center;}
.td_4_2{width:90px;float:left;}
.td_4_3{width:100px;float:left;}
.td_4_4{width:65px;float:left;}
.td_4_5{width:65px;float:left;}
.td_4_6{width:65px;float:left;}
.td_4_7{width:65px;float:left;}
.td_4_8{width:65px;float:left;}
.td_4_9{width:65px;float:left;}
.td_4_10{width:65px;float:left;}
/**for forum**/
.tr_5 td{height:32px;border-bottom:1px dashed #cccccc;}
.td_5_1{width:400px;color:#666666;}
.td_5_1 .forum_name{color:#333333; font-weight:bold; margin-right:10px;}
.td_5_1 a{color:#FFFFFF;}
.td_5_1 a:hover{color:#2C9618;text-decoration:none;}
.td_5_1a{font-weight:bold; color:#2C9618;}
.td_5_1 input{margin-top:4px;}
.td_5_2{width:120px;}
.td_5_3{width:100px;}
/**for gourp**/
.td_6{border-bottom:1px dashed #cccccc;padding-bottom:10px;padding-top:10px;}
.td_6_1{width:150px;float:left;}
.td_6_2{width:200px;float:left;}
.td_6_3{width:80px;float:left;}
.td_6_4{width:130px;float:left;}
.td_6_5{width:150px;float:left; text-align:center;}
.td_6_6{width:50px;float:left;}

.tips_1{line-height:180%; background:#E2F4FC; padding:6px; }
.tips_1 b{color:#128CB2;}
.topic_title{font-size:12px; color:#1266C2;}
.topic_title a{font-size:14px; color:#0C427E; font-weight:bold;}

.input_readonly{color:#999999; background:#DEDEDE; font-size:12px; font-family:verdana;}
.input_errstyle{background:#F1676A; color:#FFFFFF;}

.colorpicker{cursor:pointer;}

/*for smtpsetting*/
.divintd{padding-left:20px; }
.divintd p{padding-bottom:5px; margin:0px;}
.divintd p span{font-weight:bold; color:#444444;}

.def_no{background:url('../images/ico_toyes.gif') no-repeat center left; display:block; width:40px; padding-left:20px;}
.def_yes{background:url('../images/ico_yes.gif') no-repeat center left;display:block;width:40px; padding-left:20px;}

.clearboth{clear:both;}
.uploaddiv{position:relative; display:block; height:60px; float:left; margin:5px; cursor:pointer; text-align:center}
.logodiv{width:234px;}
.logodiv .uploadimgdiv{width:234px;}
.uploadimgdiv{width:60px; height:60px; border:1px solid #dedede; overflow:hidden; }
.uploadimgdiv img{height:60px;}
.uploaddiv a{display:block; position:absolute; right:1px; bottom:2px; width:12px; height:12px; font-weight:bold; color:red; font-size:11px;}
.inputlink{position:absolute; left:75px; top:20px; width:300px; }

#ad_container{background:#FFF4E6; border:1px solid #EED29F; float:right; padding:6px;}
#ad_container a:link,#ad_container a:active,#ad_container a:visited{color:#f60; font-weight:bold;}
#ad_container a:hover{color:#f30;}


.post_voteitem{margin:4px 0px;}
.post_voteitem b{color:#333333;}
.post_voteitem a:link,.post_voteitem a:active,.post_voteitem a:visited,.post_voteitem a:hover{color:#2C9618; font-weight:bold;}
.post_votecheckbox{ line-height:180%;}
.post_voteout{border:1px solid #CAD9EA;padding:5px;background:#FEFBF5;}
.post_voteall{width:100%;}
.post_voteleft{vertical-align:top;}
.post_voteright{width:350px;vertical-align:top;}
.post_votetable{width:100%;}
.post_votetable input{font-size:11px;}
.post_votetable .left{width:120px;text-align:right;border-bottom:1px dotted #c0c0c0;height:30px;}
.post_votetable .right{text-align:left;border-bottom:1px dotted #c0c0c0;}


.text_css{font:12px Verdana, Tahoma, Arial; padding:4px 2px; border:1px solid; border-color:#666 #ccc #ccc #666; background:#FFF; color:#333; font-size:12px;}
.button_css{font:12px Verdana, Tahoma, Arial; padding:2px 4px; margin:0px;}
.radio_css{}
.checkbox_css{}
select{padding:2px; font:12px Verdana, Tahoma, Arial; }
textarea{font:12px Verdana, Tahoma, Arial; }
img{border:0px;}
a img{border:0px;}
.time{font-size:11px; color:#FF6600;}
form {
	margin:0px;
}
.errStyle {
	color:#FF0000;
}
.required{color:#FF0000;}
a{cursor:pointer;color:#128CB2;}

a:link,a:visited {
	text-decoration:none;
	cursor:pointer;
}
a:active {
	text-decoration:none;
	cursor:pointer;
}
a:hover {
	text-decoration:underline;
	cursor:pointer;
}

.div_out{
	width:860px; clear:both; margin:auto;
}
.div_clear{
	clear:both; overflow:hidden;height:0px;
}
.div_title{background:#F5F5F5; padding:3px 10px; font-weight:bold; font-size:14px; border:1px solid #c0c0c0;}
.div_content{border:1px solid #c0c0c0; border-top:0px;}

.order_pro_p{background:#f5f5f5;border-bottom:1px solid #dedede;margin:0px;padding:2px; height:16px; line-height:16px;}
.order_pro_p .proname{display:inline-block; width:260px; overflow:hidden; height:14px;  overflow:hidden; margin-right:5px;}

.cartpro{width:100%; border-collapse:collapse;}
.cartpro thead{background:#f0f0f0; font-weight:bold; height:28px;}
.cartpro td{padding:4px 5px; border:1px solid #e0e0e0;}
.cartpro .op1{width:60px; text-align:center;}
.cartpro .op1 img{width:48px; height:48px;}
.cartpro .op2{}
.cartpro .op3{width:110px;text-align:center;}
.cartpro .op4{width:85px;text-align:center; font-weight:bold;}
.cartpro .op4 input{width:38px; height:16px; font-size:12px; font-weight:bold; border:0px; float:left; margin:5px 0px 0px 1px; background:none;}
.cartpro .op4 .nums{width:80px; height:30px; background:url('../../images/bg_nums.gif') no-repeat; }
.cartpro .op4 .nums1{width:20px; height:30px; float:left; cursor:pointer;}
.cartpro .op4 .nums2{width:40px; height:30px; float:left;}
.cartpro .op4 .nums3{width:20px; height:30px; float:left; cursor:pointer;}
.cartpro .op5{width:110px;text-align:center; }
.cartpro .op6{width:80px;text-align:center; }
.cartpro .price{font-weight:bold; color:#f30; font-size:11px;}

/***************************/


/*======= Tab ========*/
.bigtab_line{height:3px;background-color:#0299D2;overflow:hidden;clear:both;}
.bigtab_0_all {float:left;margin-right:5px;cursor:pointer;-moz-user-select:none;}
.bigtab_0_all div {float:left;height:39px;}
.bigtab_0_left {width:10px;background:url('../images/bg_1.gif') 0px 0px;}
.bigtab_0_center {padding:0px 10px;background:url('../images/bg_1.gif') 0px -39px;line-height:39px;text-align:center;font-size:14px;color:#FFFFFF;font-weight:bold;}
.bigtab_0_right {width:10px;background:url('../images/bg_1.gif') -10px 0px;}
.bigtab_0_center a:link,.bigtab_0_center a:visited,.bigtab_0_center a:active,.bigtab_0_center a:hover{font-size:14px;color:#FFFFFF;font-weight:bold;TEXT-DECORATION:none;}
.bigtab_1_all {float:left;margin-right:5px;cursor:pointer;-moz-user-select:none;}
.bigtab_1_all div {float:left;height:39px;}
.bigtab_1_left {width:10px;background:url('../images/bg_1.gif') 0px -78px;}
.bigtab_1_center {padding:0px 10px;background:url('../images/bg_1.gif') 0px -117px;line-height:39px;text-align:center;font-size:14px;font-weight:bold;color:#3682C1;}
.bigtab_1_right{width:10px;background:url('../images/bg_1.gif') -10px -78px;}
.bigtab_1_center a:link,.bigtab_1_center a:visited,.bigtab_1_center a:active,.bigtab_1_center a:hover{font-size:14px;color:#3682C1;font-weight:bold;TEXT-DECORATION:none;}

.smalltab_line{height:3px;background-color:#0299D2;overflow:hidden;clear:both;}
.smalltab_0_all {float:left;margin-right:5px;cursor:pointer;-moz-user-select:none;}
.smalltab_0_all div {float:left;height:27px;}
.smalltab_0_left {width:10px;background:url('../images/bg_1.gif') 0px -210px;}
.smalltab_0_center {padding:0px 10px;background:url('../images/bg_1.gif') 0px -237px;line-height:27px;text-align:center;font-size:12px;font-weight:bold;color:#128CB2;}
.smalltab_0_right{width:10px;background:url('../images/bg_1.gif') -10px -210px;}
.smalltab_0_center a:link,.smalltab_0_center a:visited,.smalltab_0_center a:active,.smalltab_0_center a:hover{font-size:12px;color:#128CB2;font-weight:bold;TEXT-DECORATION:none;}
.smalltab_1_all {float:left;margin-right:5px;cursor:pointer;-moz-user-select:none;}
.smalltab_1_all div {float:left;height:27px;}
.smalltab_1_left {width:10px;background:url('../images/bg_1.gif') 0px -156px;}
.smalltab_1_center {padding:0px 10px;background:url('../images/bg_1.gif') 0px -183px;line-height:27px;text-align:center;font-size:12px;color:#FFFFFF;font-weight:bold;}
.smalltab_1_right {width:10px;background:url('../images/bg_1.gif') -10px -156px;}
.smalltab_1_center a:link,.smalltab_1_center a:visited,.smalltab_1_center a:active,.smalltab_1_center a:hover{font-size:12px;color:#FFFFFF;font-weight:bold;TEXT-DECORATION:none;}



/**********PopUp (Cover Div)***********/
.coverDiv{position:absolute;left:0px;top:0px;width:1px;height:1px;background-color:#000000;filter:alpha(opacity=10);-moz-opacity:0.10;opacity:0.10;}
.coverDivClear{position:absolute;left:0px;top:0px;width:1px;height:1px;background-color:#000000;filter:alpha(opacity=1);-moz-opacity:0;opacity:0;}
.coverFrame{width:0px;height:0px;filter:alpha(opacity=0);-moz-opacity:0;opacity:0;}
.loading{position:absolute;width:100px;height:100px;z-index:500010;background:#cccccc;text-align:center;left:0px;top:0px;}
.loading_inner{background:#ffffff;left:-3px;top:-3px;height:98px;height:98px;position:relative;border:1px solid #c0c0c0;}
#popwin{border:3px solid #6B97C2;padding-bottom:3px;background:#fff;}
.snapdiv_button_close{background-image:url('../../images/close.gif');width:14px;height:14px;margin-top:3px;margin-right:7px;float:right;cursor:pointer;}
.snapdiv_loading{width:32px;height:32px;background-repeat:no-repeat;background-image:url('../../images/loading.gif');}
.snapdiv_title_div{background:#F5F5F5;padding-top:3px;}
.snapdiv_title{font-size:14px;font-weight:bold;color:#085A99;line-height:22px;text-indent:10px;}
.snapdiv_content{background-color:#FFFFFF;border:5px solid #F5F5F5;padding:8px; overflow:hidden;}
.dialog_content{font-size:14px;line-height:180%;}
.dialog_ico_err{width:48px;height:48px;background-image:url('../../images/dialog_icons.gif');background-position:0px 0px;}
.dialog_ico_yes{width:48px;height:48px;background-image:url('../../images/dialog_icons.gif');background-position:-50px 0px;}
.dialog_ico_info{width:48px;height:48px;background-image:url('../../images/dialog_icons.gif');background-position:-100px 0px;}
.dialog_ico_ask{width:48px;height:48px;background-image:url('../../images/dialog_icons.gif');background-position:-150px 0px;}
.dialog_ico_stop{width:48px;height:48px;background-image:url('../../images/dialog_icons.gif');background-position:-200px 0px;}
.dialog_table{width:98%;margin:1%;}
.dialog_table_td{width:60px;}
.dialog_content{font-size:14px;color:#000000;line-height:120%;}
.dialog_button{height:30px;text-align:center;clear:both;}
.dialog_button input{margin:0px 3px; padding:2px 3px; font-size:12px;}

	
/*========= PopUp (Cover Div) End=========*/

.errStyle {color:#FF0000;}
.Input_ErrorTip {background:url('../images/icon-cancel.gif') no-repeat 5px;color:red;padding-left:30px;padding-top:3px;padding-bottom:3px;padding-right:3px;border:1px solid #FF8080;background-color:#FFF2F2;display:inline-block;}


/*========================================================*/
/*======================== date.css ======================*/
/*========================================================*/
.TrTitle {background:#fff; border-bottom:5px solid #D4D0C8; color:#000; cursor:pointer;}
.TrOver {background:#808080; height:18px; border:0px solid #999999; color:#D4D0C8; cursor:pointer;}
.TdOver {background:#fff; height:18px; width:22px; border:0px solid #ccc; color:#000; cursor:pointer;}
.TdOut {background:#C6D3EF; height:16px; width:20px; border:1px solid #3169C6; color:#333; cursor:pointer;}
.TdOver2 {background:#e6e6e6; height:18px; border:1px solid #ccc; border-top:1px solid #fff; border-left:1px solid #fff; color:#666; cursor:pointer;}
.TdOut2 {background:#e6e6e6; height:18px; border:1px solid #fff; border-top:1px solid #ccc; border-left:1px solid #ccc; color:#000; cursor:pointer; }



.pagestrdiv{padding:5px 0px; width:100; height:30px; clear:both;}
.pagestrdiv table{float:right;}


.login_body{background:#008EC3;margin:0px;padding:0px;overflow:hidden;}
.login_div{background:#FFF; width:660px; margin:150px auto 50px auto; padding:35px 15px;}
.login0{width:660px; margin:auto; background:#FFF; }
.login0_left{width:300px; vertical-align:top; }
.login0_left .login0_logo{width:280px; height:120px; margin-top:20px; background:url('../images/bg_login.png') no-repeat top left;}
.login0_left .login0_text{color:#666666; line-height:160%;}
.login0_right{width:300px; border-left:1px dashed #dedede; vertical-align:top; }
.login0_noallow{font-size:14px;font-weight:bold; padding:20px 0 30px 30px; line-height:150%;}
.login0_noallow a:link, .login0_noallow a:visited, .login0_noallow a:active, .login0_noallow a:hover {color:#FF6600;}
.login_returnindex{margin-left:30px; font-size:12px;}

.login2{}
.login2 .left{font-size:14px; font-weight:bold; color:#666666; width:80px; text-align:right; height:30px; padding-right:5px;}
.login2 .right{text-align:left;}

.login_footer{height:48px; font-size:11px; color:#dedede; text-align:center; line-height:180%; margin-top:8px; padding-top:8px; }
.login_footer a {color:#A3C819; text-decoration:underline; }
#login_errtips{color:#FF3300;padding:5px 0px 5px 28px; font-weight:bold;}

.settop{width:100%;border-collapse:collapse;}
.settop td{margin:0px; padding:0px;}
.settop .settop_left{width:24px;}
.settop .settop_left img{width:16px;}

.fullversion{background:#FFF4E6; border:1px solid #EED29F; padding:10px 6px; margin:8px 0px;}
.fullversion a:link,.fullversion a:active,.fullversion a:visited{color:#f30; font-weight:bold;}
.fullversion a:hover{color:#f30;}



/**index**/
	#bigtab_container{height:39px;clear:both; overflow:hidden;}
	.top_1{height:64px;background:url('../images/bg_1.gif') 0px -264px;}
	.top_2{height:33px;background:url('../images/bg_1.gif') 0px -328px; color:#128CB2;}
	.top_1 .right{text-align:right; color:#f5f5f5; }
	.top_1 .right a:link, .top_1 .right a:hover, .top_1 .right a:visited, .top_1 .right a:active{color:#FFF;} 
	.left_1{width:168px;background:#E2F4FC; }
	.left_1 ul a{display:block;width:168px;height:24px;line-height:24px;color:#128CB2;background:url('../images/ico_p1.gif') no-repeat; text-indent:40px;outline:none;}
	.left_1 ul a:hover{text-decoration:none;}
	.left_2{background-color:#FFFFFF;}
	.headbg{ border-bottom:1px dotted #cccccc; background-image:url('../images/bg_menuadmin.gif'); background-repeat:no-repeat; padding:4px; text-indent:25px; font-weight:bold; margin:12px 0px 0px 10px; color:#333; cursor:pointer;}
	.headbg:hover{color:#006666;}
	#channel{background-position:0px 0px; margin-top:2px}
	#product{background-position:0px -50px;}
	#setting{background-position:0px -100px;}
	#member{background-position:0px -150px;}
	#order{background-position:0px -200px;}
	#other{background-position:0px -250px;}
